.swiper-slide {
    background-color: black;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    line-height: 1;
}


.top-content {
    display: flex;
    justify-content: space-between;
    text-align: center;
    letter-spacing: 4.6px;
    font-weight: 300;
    padding-left: 13px;
    margin: 10px 0;
    margin-top: 50px;
    font-size: 33px;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.slide-tarjeta {
    display: flex;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: stretch;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.content-promotion-card {
    border: 3px solid;
    position: relative;
    transition: all .2s;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .11);
    border-radius: 20px;
    background: #fff;
    width: 268.5px;
    margin-right: 20px;
    border-color: white;
}

.promotion-img {
    border-radius: 15px 15px 0 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: all .4s;
}

.div-promotion-img {
    position: relative;
    height: 300px;
    width: 100%;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}

.div-promotion-content {
    padding: 10px 15px 15px;
    text-align: center;
    height: 45%;
    margin: auto 0;
    text-align: center;
}

.promo-content-name {
    width: 100%;
    height: 30%;
    font-weight: 700;
    font-size: 23px;
    color: #000;
    text-decoration: none;
}

.promo-content-name  h4{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}



.promo-content-price {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    height: 20%;
    color:red;
}

.div-content-price{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    height: 20%;
}

.real-price
{  
    font-weight: bold;
    color: #030819;
    font-size: 27px;
    border-radius: 20px;
    display: inline-block;
    width: 47%;
    margin: auto;
}

.promo-content-price{
    position: relative;
    width: 47%;
    font-size: 18px;
    color: #ec0b0b;
    font-weight: 700;
    text-decoration: line-through;
    line-height: 1.8em;
    padding-bottom: 35px;
}

.promo-content-button {
    width: 100%;
    border: none;
    height: 40%;
    margin: 10px 0 0;
    text-align: center;
    cursor: pointer;
    background: #193694;
    border-radius: 25px;
    color: #fff;
    font-size: 20px;
    line-height: 1.5;
    outline: 0;
    height: 43px;
}

button{
    background-color: #193694 !important;
}

.descuento{
    height: 36px;
    width: 60px;
    background-color: red;
    border-radius: 12px;
    color:white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 4%;
    left: 10%;

}


.img-corazon{
    position: absolute;
    top: 4%;
    right: 5%;
    filter: invert(100%) sepia(15%) saturate(4417%) hue-rotate(185deg) brightness(110%) contrast(104%);
}