.promo-content-name{
   color:#173083;
   text-decoration: none;
}

.tarjeta{
   
   
}


.content-promotion-card{
    background-color: white;
    box-shadow: 0px 0px 10px 5px rgb(245, 238, 238); 
}


.div-promotion-img img {
    border-radius: 20px;
}

